@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: FUTURA;
    src: url(../fonts/futura.ttf);
}

@font-face {
    font-family: DUNE;
    src: url(../fonts/dune.ttf);
}

:root[data-theme="light"] {
    --text: #452f21;
    --background: #ddcfc5;
    --primary: #5a7172;
    --secondary: #6a8995;
    --accent: #6a8995;
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

:root[data-theme="dark"] {
    --text: #DEC9BB;
    --background: #3B2C22;
    --primary: #8EA5A6;
    --secondary: #6B8995;
    --accent: #6B8995;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FUTURA';
}

.dune {
    font-family: 'DUNE';
}

html,
body {
    height: 100%;
    width: 100%;
    font-weight: 400;
    background-color: var(--background) !important;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

p,
a,
h1,
h2,
h3,
h4,
h5 {
    color: var(--text) !important;
    font-weight: 700;
}

html {
    font-size: 100%;
}


h1 {
    font-size: 4.210rem;
}

h2 {
    font-size: 3.158rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

small {
    font-size: 0.750rem;
}

.navbar-brand {
    font-family: 'DUNE';
}

.btn-stuco-primary {
    --bs-btn-color: var(--background);
    --bs-btn-border-color: var(--text) !important;
    --bs-btn-hover-color: var(--background);
    --bs-btn-hover-bg: var(--text);
    --bs-btn-hover-border-color: var(--background);
    --bs-btn-focus-shadow-rgb: 248, 249, 250;
    --bs-btn-active-color: var(--text);
    --bs-btn-active-bg: var(--background);
    --bs-btn-active-border-color: var(--background);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.border-stuco-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--text) !important;
}

.hovers {
    position: absolute;
    bottom: 3%;
    left: 43.5%;
}

@media screen and (max-width: 425px) {
    .hovers {
        left: 32%;
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    justify-content: center !important;
    align-items: center !important;
}

@media screen and (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.sports-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    justify-content: center !important;
    align-items: center !important;
}

@media screen and (max-width: 768px) {
    .sports-card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.performing-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    justify-content: center !important;
    align-items: center !important;
}

@media screen and (max-width: 768px) {
    .performing-card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.event-card {
    position: relative;
    z-index: 1;
    width: 100%;
    padding-bottom: 150%;
    perspective: 1000px;
}

.event-card__cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    background-size: cover;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    transform-origin: top center;
    will-change: transform;
    transform: skewX(0.001deg);
    transition: transform 0.35s ease-in-out;
}

.event-card__cover::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: linear-gradient(226deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
    transform: translateY(-20%);
    will-change: transform;
    transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}

.event-card:hover .event-card__cover {
    transform: rotateX(7deg) translateY(-6px);
}

.event-card:hover .event-card__cover::after {
    transform: translateY(0%);
}

.event-card::before {
    display: block;
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
    will-change: opacity;
    transform-origin: top center;
    transform: skewX(0.001deg);
    transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
}

.event-card:hover::before {
    opacity: 0.6;
    transform: rotateX(7deg) translateY(-6px) scale(1.05);
}

#flagship {
    margin: 100px;
}


@media (max-width: 940px) {
    #flagship {
        margin: 35px;
    }
    
}

.flagship-card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    max-width: var(--width-container);
    width: 60%;
    justify-content: center !important;
    align-items: center !important;
}

@media(min-width: 540px) {
    .flagship-card-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(min-width: 960px) {
    .flagship-card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.new-card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    max-width: var(--width-container);
    width: 60%;
    justify-content: center !important;
    align-items: center !important;
}

@media(min-width: 540px) {
    .new-card-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(min-width: 960px) {
    .new-card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
.flagship-card {
    list-style: none;
    position: relative;
}

.flagship-card:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background {
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
        filter 200ms linear,
        transform 200ms linear;
}

.flagship-card:hover .card__background {
    transform: scale(1.05) translateZ(0);
}

.new-card-grid:hover>.flagship-card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.flagship-card-grid:hover>.flagship-card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
    left: 0;
    padding: 24px;
    position: absolute;
    bottom: 0;
}

.card__category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.card__heading {
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    font-weight: 800;
}

.hero {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(./assets/img/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.mirage-h1,
.mirage-p {
    margin: 0;
}

@keyframes mirage_noise {
    0% {
        clip: rect(13rem, 50rem, 14rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0);
    }
    2.5% {
        clip: rect(5rem, 50rem, 22rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.025);
    }

    5% {
        clip: rect(21rem, 50rem, 9rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);
    }

    7.5% {
        clip: rect(1rem, 50rem, 20rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.075);
    }

    10% {
        clip: rect(9rem, 50rem, 1rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
    }

    12.5% {
        clip: rect(16rem, 50rem, 15rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.125);
    }

    15% {
        clip: rect(1rem, 50rem, 20rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.15);
    }

    17.5% {
        clip: rect(13rem, 50rem, 20rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.175);
    }

    20% {
        clip: rect(22rem, 50rem, 18rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
    }

    22.5% {
        clip: rect(11rem, 50rem, 9rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.225);
    }

    25% {
        clip: rect(20rem, 50rem, 1rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }

    27.5% {
        clip: rect(4rem, 50rem, 25rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.275);
    }

    30% {
        clip: rect(18rem, 50rem, 24rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
    }

    32.5% {
        clip: rect(23rem, 50rem, 12rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.325);
    }

    35% {
        clip: rect(24rem, 50rem, 23rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.35);
    }

    37.5% {
        clip: rect(2rem, 50rem, 6rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.375);
    }

    40% {
        clip: rect(8rem, 50rem, 11rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.4);
    }

    42.5% {
        clip: rect(12rem, 50rem, 11rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.425);
    }

    45% {
        clip: rect(2rem, 50rem, 13rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.45);
    }

    47.5% {
        clip: rect(7rem, 50rem, 11rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.475);
    }

    50% {
        clip: rect(24rem, 50rem, 22rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    }

    52.5% {
        clip: rect(20rem, 50rem, 13rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.525);
    }

    55% {
        clip: rect(8rem, 50rem, 8rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.55);
    }

    57.5% {
        clip: rect(1rem, 50rem, 15rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.575);
    }

    60% {
        clip: rect(12rem, 50rem, 9rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
    }

    62.5% {
        clip: rect(18rem, 50rem, 10rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.625);
    }

    65% {
        clip: rect(4rem, 50rem, 2rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.65);
    }

    67.5% {
        clip: rect(11rem, 50rem, 6rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.675);
    }

    70% {
        clip: rect(19rem, 50rem, 8rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
    }

    72.5% {
        clip: rect(16rem, 50rem, 20rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.725);
    }

    75% {
        clip: rect(3rem, 50rem, 18rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.75);
    }

    77.5% {
        clip: rect(9rem, 50rem, 3rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.775);
    }

    80% {
        clip: rect(15rem, 50rem, 16rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
    }

    82.5% {
        clip: rect(23rem, 50rem, 17rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.825);
    }

    85% {
        clip: rect(23rem, 50rem, 20rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.85);
    }

    87.5% {
        clip: rect(17rem, 50rem, 3rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.875);
    }

    90% {
        clip: rect(17rem, 50rem, 11rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
    }

    92.5% {
        clip: rect(8rem, 50rem, 12rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.925);
    }

    95% {
        clip: rect(13rem, 50rem, 17rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.95);
    }

    97.5% {
        clip: rect(9rem, 50rem, 25rem, -25rem);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.975);
    }

    100% {
        clip: rect(5rem, 50rem, 3rem, -25rem);
        box-shadow: 0 0 30px #fff;
    }
}

@keyframes mirage_ring {
    0% {
        box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0), 0 0 30px white;
    }
    100% {
        box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 1), 0 0 30px white;
    }
}

.mirage {
    border-radius: 50%;
    transition: transform 0.5s cubic-bezier(1, 0, 0.5, -1) 0.25s, box-shadow 0.5s cubic-bezier(1, -5, 0.5, 5) 0.25s;
    transform: scale(0.5);
    animation: mirage_noise 3s ease-in-out 1, mirage_ring 1s ease-in-out 3s 1;
    box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 1), 0 0 30px white;
    left: 50%;
    top: 50%;
    margin: -20rem;
    width: 40rem;
    height: 40rem;
    position: absolute;
    cursor: pointer;
}

@media (max-width: 768px) {
    .mirage {
        margin: -15rem;
        width: 30rem;
        height: 30rem;
    }
}

@media (max-width: 540px) {
    .mirage {
        margin: -10rem;
        width: 20rem;
        height: 20rem;
    }
}

.mirage::before,
.mirage::after {
    opacity: 0;
    content: "";
    position: absolute;
    width: 10rem;
    height: 10rem;
    margin: -2rem -3rem -2rem -3rem;
    border-radius: 50%;
    z-index: -10;
}

.mirage::before {
    box-shadow: 0 -15px 30px -15px rgba(255, 255, 255, 0.8), -25px 15px 50px -25px rgba(255, 255, 255, 0.2), 0 -25px 15px -20px rgba(255, 255, 255, .3);
}

.mirage::after {
    box-shadow: 0 -25px 20px -15px rgba(255, 255, 255, 0.2), 10px 25px 15px -30px rgba(255, 255, 255, 1), -10px 30px 20px -30px rgba(255, 255, 255, .3);
}

.mirage-info {
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    background-image: url(../img/hero.jpg);
    overflow: hidden;
    opacity: 0;
    background-size: 12.5rem 12.5rem;
    position: absolute;
    width: inherit;
    height: inherit;
}

.mirage-h1,
.mirage-button,
.mirage-button::after,
.mirage-button:active::after {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.mirage-h1 {
    text-shadow: 0 0 0 white, 0 0 1px white, 0 1px 2px rgba(255, 255, 255, .5);
    position: absolute;
    clip: rect(0, 20rem, 20rem, 0);
    font-size: 2em;
    padding-top: 3.5rem;
    left: 125px !important;
    color: transparent;
}

@media (min-width: 540px) {
    .mirage-line {
        width: 16rem;
        margin: 9rem 1.5rem 1.5rem;
    }
}

.mirage-line {
    transition: all 1s ease-in-out;
    margin: 50rem 3rem 2.5rem;
    border-top: 1px solid white;
    width: 0;
}

.mirage:hover {
    box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0), 0 0 30px white;
    transform: scale(1);
    transition-delay: 1.5s;
}



.mirage:hover .mirage-info {
    transform: scale(1);
    transition-delay: 1.75s;
    opacity: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mirage:hover .mirage-h1 {
    animation: mirage_noise2 4s 1 linear alternate-reverse;
    left: 23%;
}

.mirage:hover .mirage-author {
    transition-delay: 2.25s;
    opacity: 1;
}

.mirage:hover .mirage-line {
    transition-delay: 1.75s;
    width: 32.5rem;
    margin: 18rem 3rem 1rem;
}

@media screen and (max-width: 768px) {
    .mirage:hover .mirage-line {
        width: 16rem;
        margin: 9rem 1.5rem 1.5rem;
    }
    
}